application
  name helloworld
  title 
    pt_br Olá mundo
    es Holá mundo
    en Hello world    
  icon /material-ui/accessibility

languages
  pt_br 
  es 
  en

// requires  x
  // parser= pug
  // builder= gae
  // builder= web
  // route (url="/", view=helloworld)  
     